.form {
	text-align: center;
}

.form__email {
	margin-right: 14px;
}

.form__body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__input {
	min-height: 30px;
	border-bottom: 3px solid #000;
	border-radius: 20px;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 20px;
}

.form__button {
	min-height: 40px;
	font-size: 20px;
	background: #57c07d;
	border-radius: 20px;
}

.form__button {
	margin-top: 20px;
	border: none;
	min-width: 330px;
}

.form__button:active {
	background: #095625;
}

.error {
	border: 1px solid red;
	color: red;
}